/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2021, 3:03:32 PM
    Author     : rache
*/



.Boton1 {
   
    -fx-background-radius:  25px;
    
    
    -fx-effect: dropshadow(one-pass-box, #EC7063  , 22, 0.0 , 0, 0);
    -fx-effect: innershadow(one-pass-box, #EC7063   , 30, 0.0 , 0, 0);
    -fx-background-color: #F5B7B1   ;
    /*-fx-border-color :  #119D84;*/
    -fx-border-radius: 25px;
    -fx-border-width: 3;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.3), 45, 0, 10, 0);
}
.barraprimera {
   
    -fx-background-radius:  10px;
    
    
    -fx-effect: dropshadow(one-pass-box, #AAB7B8   , 22, 0.0 , 0, 0);
    -fx-effect: innershadow(one-pass-box, #AAB7B8    , 30, 0.0 , 0, 0);
    -fx-background-color: #AAB7B8    ;
    /*-fx-border-color :  #119D84;*/
    -fx-border-radius: 10px;
    -fx-border-width: 1;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.3), 45, 0, 10, 0);
}

.Fondo {
    -fx-background-image: url("\\src\\cacao\\resources\\fondoSelva.png");
    /*-fx-background-position: 1900;*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
/* Item 2 */
.item2 .wrapper.active input {
    padding-left: 15px;
}

.item2 .wrapper.active label {
    font-weight: bold;
    top: -18px;
}
.Label {
         -fx-font-family: "Fantasy";
         -fx-text-fill: #641E16;
         -fx-font-size: 15px;

}